@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --font-karla-sans-serif: "Karla", sans-serif;
    --font-barlow-sans-serif: "Barlow", sans-serif;
    --font-fraunces-serif: "Fraunces", serif;
    --font-size: 16px;

    --color-light-green: rgba(235, 250, 231, 1);
    --color-bright-green: rgba(64, 211, 21, 1);
    --color-status-active: dodgerblue;
    --color-status-inactive: #D3D3D3;
    --color-status-completed: mediumseagreen;
    --color-status-cancelled: lightcoral;

    --color-status-active-light: rgba(30, 144, 255, 0.2);
    --color-status-inactive-light: rgba(211, 211, 211, 0.2);
    --color-status-completed-light: rgba(60, 179, 113, 0.2);
    --color-status-cancelled-light: rgba(240, 128, 128, 0.2);
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
    background: none;
    font-size: var(--font-size);
}

.hidden {
    display: none !important;
}

button:disabled {
    filter: brightness(80%);
    opacity: 0.8;
}

button:disabled:hover {
    cursor: not-allowed;
}

.error {
    border: 1px solid red !important;
    border-radius: 3px;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-rows: 110px 1fr 50px;
    box-shadow: 0 5px 12px rgba(211, 211, 211, 0.8);
    overflow-y: auto;
}

/* **************************************************
                        HEADER
 ************************************************** */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

}

.header .header-top {
    display: flex;
    align-items: center;
    padding: 18px 18px 12px 18px;
    justify-content: space-between;
}

#open-modal {
    width: 28px;
    height: 28px;
}

.modal.add-item-modal {
    position: absolute;
    right: 0;
    top: 80px;
    width: 500px;
    /* TBD: 25\00px */
    /* height: 25\00px; */
    height: 210px;
    background-color: white;
    padding: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 5px 12px rgba(211, 211, 211, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    width: 100%;
    height: 100%;
}

#add-item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add-item-form label {
    font-family: var(--font-fraunces-serif);
    font-size: 18px;
}

#add-item-form input {
    border: 1px solid lightgray;
    box-shadow: 0 2px 6px rgba(211, 211, 211, 0.8);
    padding: 8px;

}

#add-item-form input#item-text,
#add-item-form input#target-on {
    display: block;
    width: 100%;
    margin-top: 5px;
}

#add-item-form input::placeholder {
    font-family: var(--font-karla-sans-serif);
}


#add-item-form input#item-text:hover,
#add-item-form input#target-on:hover {
    cursor: pointer;
}

#add-item-form .bottom {
    display: flex;

}

#add-item-form input:focus {
    outline: 1px solid rgba(119, 136, 153, 0.4);
    border-radius: 3px;
}

#add-item-form .date-controls {
    width: 60%;
}

#add-item-form .button-controls {
    width: 40%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#add-item-form .button-controls button {
    font-size: 18px;
    font-family: var(--font-fraunces-serif);
    transition: all 0.3s ease;
}

#add-item-form .button-controls button:not([disabled]):hover {
    font-weight: 500;
    transform: scale(1.01);
    color: darkslategray;
}

.header .header-bottom .daysOfTheWeek {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-barlow-sans-serif);
    border: 1px solid rgba(211, 211, 211, 0.8);
    color: rgba(101, 101, 101, 1);
    letter-spacing: 1px;;
}

.header .month {
    font-family: var(--font-fraunces-serif);
    font-size: 42px;
    display: inline-block;
}

.header button.previous,
.header button.next {
    width: 24px;
    height: 24px;
    padding: 0 5px;
}


.header button:hover {
    cursor: pointer;
}

.header button:active {
    transform: translateY(1px);
}

.header button.today {
    border: 1px solid rgba(211, 211, 211, 1);
    width: 80px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    transition: box-shadow 0.2s ease;
}

.header button.today:hover {
    box-shadow: 0 2px 5px rgba(211, 211, 211, 0.8);
}

.toast {
    min-width: 385px;
    height: 80px;
    background-color: var(--color-light-green);
    z-index: 101;
    position: fixed;
    top: 8%;
    right: 8%;
    border-radius: 12px;
    padding: 15px;
 }

 .toast::before {
    content: "";
    width: calc(100% + 15px * 2);
    display: block;
    height: 8px;
    top: -15px;
    left: -15px;
    position: relative;
    background-color: var(--color-bright-green);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
 }

 .toast .message {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-fraunces-serif);

 }

 .toast .message img {
    background: url('./assets/icons/check-circle.svg');
    display: inline-block;
    width: 25px;
    height: 25px;
 }

.toast .details {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 12px;
    color: darkslategray;
    font-family: var(--font-karla-sans-serif);
    white-space: nowrap;
    overflow: hidden;
    margin: 2px 0 0 30px;
}




/* **************************************************
                        MAIN
 ************************************************** */

.calendar {
    height: 100%;
    width: 100%;
    background-color: rgba(251,251, 251);
    display: grid;
    grid-auto-rows: 200px;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    border: 1px solid rgba(211, 211, 211, 0.6);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.day .day-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day .day-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.date {
    display: inline-block;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.date.active {
    background-color: black;
    color: white;
    font-weight: bold;
}

.day .modify {
    width: 22px;
    height: 100%;
    padding: 4px;
}

.day.empty {
    background: rgba(251,251, 251);
  background-image: radial-gradient(rgb(215, 214, 214) 1px, transparent 0);
  background-size: 12px 12px;
}

.day .day-header:hover {
    cursor: pointer;
}

.day .modify:hover {
    cursor: pointer;
}

.item {
    white-space: nowrap;
    padding: 4px 4px 4px 18px;
    margin: 3px;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    font-family: var(--font-karla-sans-serif);
    color: darkslategray;
    min-height: 20px;
}

.item::before {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    border-radius: 50%;
}

.item.active::before {
    background-color: var(--color-status-active);
}

.item.cancelled::before {
    background-color: var(--color-status-cancelled);
}

.item.inactive::before {
    background-color: var(--color-status-inactive);
}

.item.inactive {
    color: var(--color-status-inactive);
}

.item.cancelled {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
}

.item.completed::before {
    background-color: var(--color-status-completed);
}

.day-body .item:hover {
    cursor: pointer;
}

.day-body .item:hover::after {
    content: url("./assets/icons/trash-can.svg");
    width: 16px;
    height: 100%;
    background-color: white;
    position: absolute;
    right: -1px;
    top: 4px;
}

/* Update Day Modal */

.update-day-modal {
    background-color: white;
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 5px 12px rgba(211, 211, 211, 0.8);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 25px;
}

.update-day-modal::after {
    content: url('./assets/icons/xmark.svg');
    width: 12px;
    height: 12px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.update-day-modal:hover::after {
    cursor: pointer;
}

.items-panel {
    padding: 15px 0 15px 25px;
    width: 50%;
    height: 100%;
}

.items-panel .status-counts {
    height: 15%;
    display: flex;
    justify-content: center;
    gap: 12px;
    display: flex;
    align-items: center;
}


.status-counts button {
    appearance: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: var(--font-karla-sans-serif);
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(211,211, 211,0.2);
    color: darkslateblue;
    position: relative;
}

.status-counts button:has(.all-count) {
    /* border-image: linear-gradient(lightblue,red) 1/20%;
    border-radius: 50%; */
    border: double 3px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, var(--color-status-active),var(--color-status-completed), var(--color-status-inactive), var(--color-status-cancelled));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.status-counts button:has(.active-count) {
    border: 1px solid var(--color-status-active);
    background-color: var(--color-status-active-light);
}

.status-counts button:has(.completed-count) {
    border: 1px solid var(--color-status-completed);
    background-color: var(--color-status-completed-light);
}

.status-counts button:has(.cancelled-count) {
    border: 1px solid var(--color-status-cancelled);
    background-color: var(--color-status-cancelled-light);
}

.status-counts button:has(.inactive-count) {
    border: 1px solid var(--color-status-inactive);
    background-color: var(--color-status-inactive-light);
}

.status-counts button:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.status-counts button.selected::before {
    content: "";
    width: 37px;
    height: 37px;
    z-index: 100;
    position: absolute;
    border: 2px double darkslateblue;
    box-shadow: 0 2px 8px rgba(72, 61, 139, 0.4);
    border-radius: 50%;
}

.status-counts button:active {
    transform: translateY(1px);
}

/* Item Panel */


.items-panel .items-list {
    height: 85%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 5px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: rgba(211,211, 211,0.2);
    box-shadow: 0 5px 10px rgba(211,211, 211,0.2);
}

.items-panel .day-item {
    padding: 8px 4px;
    border-radius: 5px;
    padding: 12px;
    font-family: var(--font-barlow-sans-serif);
    color: darkslategray;
    position: relative;
    text-align: left;
}

.items-panel .day-item.active {
    border: 1px solid var(--color-status-active);
    background-color: var(--color-status-active-light);
}

.items-panel .day-item.completed {
    border: 1px solid var(--color-status-completed);
    background-color: var(--color-status-completed-light);
}

.items-panel .day-item.cancelled {
    border: 1px solid var(--color-status-cancelled);
    background-color: var(--color-status-cancelled-light);
}

.items-panel .day-item.inactive {
    border: 1px solid var(--color-status-inactive);
    background-color: var(--color-status-inactive-light);
}

.items-panel .day-item:hover {
    cursor: pointer;
}

/* .items-panel .day-item.selected {
    border-width: thick;
} */

.items-panel .day-item.selected::after {
    content: "";
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    border: 2px dotted blue;
    position: absolute;
    top: -4px;
    left: -4px;
    border-radius: 5px;
}

.items-panel .day-item.active.selected::after {
    border: 2px ridge var(--color-status-active);
}

.items-panel .day-item.cancelled.selected::after {
    border: 2px ridge var(--color-status-cancelled);
}

.items-panel .day-item.completed.selected::after {
    border: 2px ridge var(--color-status-completed);
}

.items-panel .day-item.inactive.selected::after {
    border: 2px ridge var(--color-status-inactive);
}

.items-panel .day-item:active {
    transform: translateY(1px);
}

.empty-shrug {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(101, 101, 101, 0.8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.empty-message {
    margin: auto auto;
    font-family: var(--font-barlow-sans-serif);
    color: rgba(101, 101, 101, 1);;
}

/* Edit Panel */

.edit-panel {
    padding: 15px 25px 15px 0;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}


.edit-panel .action-buttons {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.edit-panel .action-buttons button {
    border: 1px solid lightgray;
    padding: 8px 12px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: rgba(25, 49, 83, 1);
    color: white;
}

.edit-panel .action-buttons button.delete-item-btn {
    background-color: rgba(220, 20, 60, 1);
}

.edit-panel .action-buttons button:not([disabled]):hover {
    cursor: pointer;
    filter: brightness(110%);
    box-shadow: 0 5px 8px rgba(211, 211, 211, 0.4);
}

.edit-panel .action-buttons button:not([disabled]):active {
    transform: translateY(1px);
}


/* Edit Panel Form */

.edit-panel .form-container {
    padding: 15px;
    height: 85%;

    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: rgba(176, 196, 222, 0.1);
    box-shadow: 0 5px 10px rgba(211,211, 211,0.2);
    overflow-y: scroll;
}

.edit-panel .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    font-family: var(--font-karla-sans-serif);
}

.edit-panel form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.edit-panel label {
    width: 25%;
    display: flex;
    align-items: center;
}

.edit-panel label + * {
    display: inline-block;
    width: 75%;
    border: 1px solid lightgray;
    box-shadow: 0 2px 6px rgba(211, 211, 211, 0.8);
    padding: 8px;
    background-color: white;
}

.edit-panel textarea {
    overflow: auto;
    outline: none;
    resize: vertical;
    height: 7em;
    font-family: var(--font-barlow-sans-serif);
    font-weight: 500;
}

.edit-panel select#update-status {
}

/* how to make this stick to the bottom of its container */
.edit-panel form .info {
    margin-top: auto;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px groove lightslategray;
    color: lightslategray;
    font-family: var(--font-karla-sans-serif);
    font-size: 13px;
    padding: 5px;
}

.info span {
    font-size: inherit;
}




/* **************************************************
                       FOOTER
 ************************************************** */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.footer .today {
    font-family: var(--font-karla-sans-serif);
}

.footer .navlinks {
    display: flex;
    gap: 12px;
}

.footer img {
    width: 25px;
    height: 25px;
    display: flex;
}


/* Modal Overlay */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}