@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --font-karla-sans-serif: "Karla", sans-serif;
    --font-barlow-sans-serif: "Barlow", sans-serif;
    --font-fraunces-serif: "Fraunces", serif;
    --font-size: 16px;

    --color-status-active: dodgerblue;
    --color-status-inactive: #D3D3D3;
    --color-status-completed: mediumseagreen;
    --color-status-cancelled: lightcoral;

    --color-light-green: rgba(235, 250, 231, 1);
    --color-bright-green: rgba(64, 211, 21, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
    background: none;
    font-size: var(--font-size);
}

.hidden {
    display: none !important;
}

.error {
    border: 1px solid red !important;
    border-radius: 3px;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-rows: 110px 1fr 50px;
    box-shadow: 0 5px 12px rgba(211, 211, 211, 0.8);
}

/* **************************************************
                        HEADER
 ************************************************** */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}

.header .header-top {
    display: flex;
    align-items: center;
    padding: 18px 18px 12px 18px;
    justify-content: space-between;
}

#open-modal {
    width: 28px;
    height: 28px;
}

#modal {
    position: absolute;
    right: 0;
    top: 80px;
    width: 500px;
    height: 25\00px;
    background-color: white;
    padding: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 5px 12px rgba(211, 211, 211, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    width: 100%;
    height: 100%;
}

#item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#item-form label {
    font-family: var(--font-fraunces-serif);
    font-size: 18px;
}

#item-form input {
    border: 1px solid lightgray;
    box-shadow: 0 2px 6px rgba(211, 211, 211, 0.8);
    padding: 8px;

}

input#item-text,
input#target-on {
    display: block;
    width: 100%;
    margin-top: 5px;
}

input::placeholder {
    font-family: var(--font-karla-sans-serif);
}


input#item-text:hover,
input#target-on:hover {
    cursor: pointer;
}

#item-form .bottom {
    display: flex;

}

input:focus {
    outline: 1px solid rgba(119, 136, 153, 0.4);
    border-radius: 3px;
}


.date-controls {
    width: 60%;
}

.button-controls {
    width: 40%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-controls button {
    font-size: 18px;
    font-family: var(--font-fraunces-serif);
    transition: all 0.3s ease;
}

.button-controls button:hover {
    font-weight: 500;
    transform: scale(1.01);
    color: darkslategray;
}

.header .header-bottom .daysOfTheWeek {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-barlow-sans-serif);
    border: 1px solid rgba(211, 211, 211, 0.8);
    color: rgba(101, 101, 101, 1);
    letter-spacing: 1px;;
}

.header .month {
    font-family: var(--font-fraunces-serif);
    font-size: 42px;
    display: inline-block;
}

.header button.previous,
.header button.next {
    width: 24px;
    height: 24px;
    padding: 0 5px;
}


.header button:hover {
    cursor: pointer;
}

.header button:active {
    transform: translateY(1px);
}

.header button.today {
    border: 1px solid rgba(211, 211, 211, 1);
    width: 80px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    transition: box-shadow 0.2s ease;
}

.header button.today:hover {
    box-shadow: 0 2px 5px rgba(211, 211, 211, 0.8);
}

.toast {
    min-width: 385px;
    height: 80px;
    background-color: var(--color-light-green);
    z-index: 10;
    position: absolute;
    bottom: -85px;
    right: 5px;
    border-radius: 12px;
    padding: 15px;
 }

 .toast::before {
    content: "";
    width: calc(100% + 15px * 2);
    display: block;
    height: 8px;
    top: -15px;
    left: -15px;
    position: relative;
    background-color: var(--color-bright-green);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
 }

 .toast .message {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-fraunces-serif);

 }

 .toast .message img {
    background: url('./assets/icons/check-circle.svg');
    display: inline-block;
    width: 25px;
    height: 25px;
 }

.toast .details {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 12px;
    color: darkslategray;
    font-family: var(--font-karla-sans-serif);
    white-space: nowrap;
    overflow: hidden;
    margin: 2px 0 0 30px;
}




/* **************************************************
                        MAIN
 ************************************************** */

.main {
}

.calendar {
    height: 100%;
    width: 100%;
    background-color: rgba(251,251, 251);

    display: grid;

    /* Below must be commented out to work from setup.js */
    grid-template-rows: repeat(6, minmax(250px, 1fr));
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    border: 1px solid rgba(211, 211, 211, 0.6);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    /* NOTE: below was critical to block stretching its parent day cell */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.day .day-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day .day-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.date {
    display: inline-block;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.date.active {
    background-color: black;
    color: white;
    font-weight: bold;
}

.day .modify {
    width: 22px;
    height: 100%;
    padding: 4px;
}

.day.empty {
    background: rgba(251,251, 251);
  background-image: radial-gradient(rgb(215, 214, 214) 1px, transparent 0);
  background-size: 12px 12px;
}

.day .day-header:hover {
    cursor: pointer;
}

.day .modify:hover {
    cursor: pointer;
}

.item {
    white-space: nowrap;
    padding: 4px 4px 4px 18px;
    margin: 3px;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    font-family: var(--font-karla-sans-serif);
    color: darkslategray
}

.item::before {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    border-radius: 50%;
}

.item.active::before {
    background-color: var(--color-status-active);
}

.item.cancelled::before {
    background-color: var(--color-status-cancelled);
}

.item.inactive::before {
    background-color: var(--color-status-inactive);
}

.item.inactive {
    color: var(--color-status-inactive);
}

.item.cancelled {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
}

.item.completed::before {
    background-color: var(--color-status-completed);
}

.day-body .item:hover {
    cursor: pointer;
}

.day-body .item:hover::after {
    content: url("./assets/icons/trash-can.svg");
    width: 16px;
    height: 100%;
    background-color: white;
    position: absolute;
    right: -1px;
    top: 4px;
}

/* **************************************************
                       FOOTER
 ************************************************** */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.footer .today {
    font-family: var(--font-karla-sans-serif);
}

.footer .navlinks {
    display: flex;
    gap: 12px;
}

.footer img {
    width: 25px;
    height: 25px;
    display: flex;
}
